<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>WhistleHQ - Login Page</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="css/landing-page.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="/">WhistleHQ</a>
      </div>
    </nav>

    <!-- Masthead -->
    <header class="whistle text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
            <div class="col-xl-6 mx-auto">
                <div class="form">
                    <form action="/login" method="post">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" id="recipient-name" name="username">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" id="recipient-name">
                        <label><a href="#">Forgot Password?</a></label>
                    </div>
                    <br /><br />
                    <input type="submit" value="Submit" class="button btn primary">
                </form>
            </div>
        </div>

          <!-- <div class="col-xl-9 mx-auto">
              <form action="/login" method="post">
                  <div class="form-row">
                      <label>Username</label>
                      <input type="text" name="username"
                  </div>
              </form>
          </div> -->
          <!-- <div class="col-xl-9 mx-auto"> -->
            <!-- <h1 class="mb-5">- How It Works -</h1> -->
            <!-- <h2 class="mb-5">1. Registration tokens are sent out to list of emails</h2> -->
          <!-- </div> -->

          <!-- <div class="col-md-10 col-lg-8 col-xl-7 mx-auto"> -->
              <!-- <h3 clas="mb-5">After these tokens are distributed via email, you will have 2-HOURS to confirm your registration before the token times out.</h3> -->
          <!-- </div> -->

          <!-- <div class="col-md-10 col-lg-8 col-xl-7 mx-auto"> -->
              <!-- <br /><br /><br /> -->
              <!-- <a href="#overview"> -->
                  <!-- <button type="submit" value="Read More" class="btn btn-block btn-lg btn-primary">Read More</button> -->
              <!-- </a> -->
          <!-- </div> -->

        </div>
      </div>
    </header>

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="about">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; WhistleHQ 2018. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-twitter fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
=======
<b>Sign up for account</b>
<p>Enter up to five offical emails from your organization, including your own.</p>
<p>Email from free providers will not accepted.</p>
<p>Emails must have the same domain.</p>
<p>Avoid using the emails of people are you friends with at work.</p>
<p>Check your spam folder for a hidden registration link</p>
<form action="/getToken" method="post">
	<div>
  	<label>emails:</label>
  	<input type="text" name="emails" /><br />
	</div>

	<input type = "hidden" id="url_name" name = "url_name"><br />
	<script>var name = document.URL;
        document.getElementById("url_name").value = name;</script>
	<div>
	  <input type="submit" value="Submit" />
	</div>



</form>
<!--
<b>Test</b>
<form action="/testEmails" method="post">
    <div>
        <label>Test Emails:</label>
        <input type="text" name="emails" /><br/>
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
</form> -->
>>>>>>> d2b18af0fb10c7e9f180bb2abadef7f9a4e1e3b0
