
<b>Sign up with Token</b>
<p>Please make your password memorable. We do not save your email and cannot reset your password if it is forgotten.</p>
<form action="/signup" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username" /><br/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" />
    </div>
    <div>
        <label>Name:</label>
        <input type="text" name="name" />
    </div>
    <input type="hidden" name="token" value = <%= token %> />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>
